/* Estilos para la galería de cierre */
.galeriaCierre {
    padding: 60px 20px;
    background-color: var(--color-blanco, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/fondo.png);
    border-top: 2px solid #456344;
}

.galeriaCierre h2 {
    font-family: 'Breathing', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin: 0 0 2rem 0;
    color: #456344;
    padding-bottom: 0.5rem;
    font-weight: 500;
    line-height: 90px;
}

#galeriaCierreTitulo {
    font-family: 'Joliet', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin: 0 0 2rem 0;
    color: #456344;
    padding-bottom: 0.5rem;
    font-weight: 700;
    line-height: 90px;
    white-space: nowrap;
}

#galeriaCierreSubtitulo {
    font-family: 'Breathing', sans-serif;
    text-align: center;
    font-size: 4rem;
    color: #456344;
    margin: 0;
    padding-bottom: 1rem;
    font-weight: normal;
}

.grid-fotosCierre {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    margin-top: 30px;
}

.grid-fotosCierre img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 2px solid #456344;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.grid-fotosCierre img:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* Responsive */
@media (max-width: 1024px) {
    .grid-fotosCierre {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .grid-fotosCierre img {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .galeriaCierre h2 {
        font-size: 3rem;
        line-height: 80px;
    }

    #galeriaCierreTitulo {
        font-size: 3rem;
        white-space: normal;
    }

    #galeriaCierreSubtitulo {
        font-size: 3rem;
    }
    
    .grid-fotosCierre {
        grid-template-columns: 1fr;
    }
    
    .grid-fotosCierre img {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .galeriaCierre h2 {
        font-size: 2rem;
    }

    #galeriaCierreTitulo {
        font-size: 2rem;
        line-height: 50px;
    }

    #galeriaCierreSubtitulo {
        font-size: 2rem;
        line-height: 50px;
    }

    .grid-fotosCierre {
        grid-template-columns: 1fr;
    }
    
    .grid-fotosCierre img {
        height: 400px;
    }
}